---
layout: 'base.njk'
---
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{title}}
    </h1>
    <figure class="main-article__figure">
      <img src="{{image}}" alt="{{imageAlt}}"> {# Puede leer directamente porque ya cada blog tiene un layout de article.njk, luego este file ya tiene acceso a el front-matter de cada blog directamente #}
      <figcaption>
        {{imageAlt}}
      </figcaption>
    </figure>
    
    {{content | safe}} {# Aqui estamos haciendo una especie de nesting o embedded code, ya que lo que ingresemos aqui como content luego se metera en el base tambien como content #}
</div>
</article>
